nav {
  position: fixed;
  top: 0;
  height: var(--header-height);
  z-index: 1;
  width: 100%;
  text-align: center;
  background-color: var(--bg-color);
}

.nav-wrapper {
  margin: auto;
  max-width: var(--tablet-min);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.header-container {
  top: 0;
  margin: 0 auto;
  max-width: var(--tablet-min);
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.brand-logo {
  font-weight: 600;
  font-size: 2rem;
  position: absolute;
  margin: 0;
}

.styled-social-nav {
  display: flex;
  align-self: flex-end;
}

a {
  border-bottom: 2px solid transparent;
  color: var(--navigation-color);
  display: block;
  font-size: 1.125rem;
  line-height: 4rem;
  position: relative;
  text-decoration: none;
  z-index: 1;
  transform: translate(0px, 4px);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

a:hover {
  color: var(--green);
}

.switch-wrapper {
  border-bottom: 2px solid transparent;
  color: var(--navigation-color #78757a);
  display: block;
  font-size: 1.125rem;
  line-height: 4rem;
  position: relative;
  text-decoration: none;
  z-index: 1;
  margin-left: 0.25rem;
}

@media (min-width: 42rem) {
  header {
    position: fixed;
  }
}

@media screen and (min-width: 550px) {
  a {
    margin-right: 0.75rem;
    overflow: visible;
  }

  .switch-wrapper {
    margin-left: 0.5rem;
  }

  .styled-social-nav-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (min-width: 750px) {
  .switch-wrapper {
    line-height: 4rem;
  }

  .styled-social-nav-item {
    line-height: 4rem;
  }
}
