.project {
  width: 100%;
  height: auto;
  margin-bottom: 90px;
  transition-duration: 0.3s;
}

.subheading {
  font-size: 30px;
  margin: 0 auto;
  color: var(--heading-color);
}

/* const ProjectParagraph = styled(Paragraph)`  */
.project-paragraph {
  margin-left: 5px;
  margin-top: 10px;
  max-width: unset;
  margin-bottom: 20px;
}

@media (min-width: var(--mobile-max)) {
  .project-paragraph {
    max-width: 70%;
  }
}
